@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}
:root{
    --black     :#222222;
    --superblack:#000000;
    --darkblue  :#145272;
    --darkblue2 :#031120;
    --lightblue :#F1F5F8;
    --gray      :#A0A1A8;
    --whitegray :#F5F5F5;
    --white     :#FFFFFF;

    --main-font: 'Plus Jakarta Sans';
}
body{
    font-family: var(--main-font);
    background-color: var(--lightblue);
    overflow-x: hidden;
    min-height: 100%;
}
*{ 
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* ================================================= */
.search-bar{
    background-color: var(--white);
    width: 82%;
    height: 60px;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 8% 65% 25%;

    /* Shadow */
    /* box-shadow: 1px 0px 23px -7px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px 0px 23px -7px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 0px 23px -7px rgba(0,0,0,0.51); */
}
.search-bar svg{
    fill: #666;
}
.search-input{
    background-color: transparent;
    border: 0px solid;
    outline: none;
    margin-left: 0;
    font-size: 16px;
    color: #666;
}
.search-button{
    background-color: var(--darkblue);
    border: 0px solid;
    outline: none;
    color: var(--white);
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 0px;
}
@media screen and (max-width: 1200px) and (min-width: 312px) {
    .search-bar{
        grid-template-columns: 15% 55% 25%;
    }
    .search-input{
        border-radius: 20px;
    }
    .search-button{
        border-radius: 15px;
        padding: 5px 15px;
    }
}

.responsive-bar{
    display: none;
}
#hamburger-button{
    display: none;
}
#cross-button{
    display: none;
}

.logout{
    background-color: var(--darkblue);
    text-decoration: none;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.3s;
}
.logout a{
    font-size: 20px;
    color: var(--white);
}
.logout:hover{
    opacity: 0.9;
}

.bg{
    background-color: var(--white);
}
.navbar{
    height: 100px;
    padding-top: 20px;
}

.navbar .nav-wrapper{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-top: 0;
}
.nav-wrapper .menu-wrapper{
    margin-left: 0;
    display: flex;
    gap: 3.4722222222222223vw;
}
.nav-wrapper .menu-wrapper .menu{
    display: flex;
    align-items: center;
    gap: 4.861111111111112vw;
}
.menu-wrapper .menu .menu-link{
    font-size: 20px;
    color: var(--black);
    font-family: var(--main-font);
    font-weight: 400;
}
.menu-wrapper .menu li a:hover{
    color: var(--darkblue);
    /* transition: width 0.2s ease-out; */
}
.menu .menu-item, .menu-home{
    position: relative;
    padding-bottom: 7px;
    cursor: pointer;
}
.menu .menu-item::after, .menu-home::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 4px;
    background-color: var(--darkblue);
    transition: width 0.2s ease-out;
    border-radius: 5px;
}
.menu-item:hover.menu-item::after{
    width: 25%;
}
.menu-home:hover.menu-home::after{
    width: 100%;
}
.menu-item:hover.menu-item::after .active{
    width: 25%;
}
.menu-home:hover.menu-home::after .active{
    width: 100%;
}

/* ======================== Content ========================== */
.top-navigation{
    display: flex;                                                      
    padding-top: 80px;
    margin-left: 130px;
    margin-right: 130px;
}
.top-navigation .text{
    /* width: 412px; */
    margin-left: 0;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    color: var(--darkblue);
}
.top-navigation .add-schedule{
    display: flex;
    margin-right: 0;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: var(--darkblue);
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid var(--darkblue);
    transition: 0.3s;
}
.top-navigation .add-schedule:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.add-schedule .image{
    background-image: url('../Assets/Schedule/add schedule.svg');
    width: 14px;
    height: 14px;
    margin-right: 10px;
    transition: 0.3s;
}

/* ============ tabel database =============== */
.space50{
    margin-top: 50px;
}
.table-database {
    border: 1px solid #878E97;
    width: 1202px;
    border-radius: 25px;
    margin-bottom: 30px;
}
.content-table {
    width: 1200px;
    height: auto;
    border-collapse: collapse;
    margin: 0;
    min-width: 400px;
    border-radius: 25px;
    overflow: hidden;
}
.content-table thead td {
    background-color: var(--white);
    color: var(--black);
    text-align: left;
    font-weight: 500;
    font-size: 22px;
}
.content-table th, .content-table td {
    padding: 20px 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    color: var(--black);
}
.content-table tbody tr:nth-of-type(even) {
    background-color: var(--white);
}
.content-table tbody tr:nth-of-type(odd) {
    background-color: var(--lightblue);
}

.copyright{
    padding-top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    color: var(--darkblue);  
    margin-bottom: 10px;
    margin-top: 30px;
}

.button-delete{
    margin-left: 5px;
    width: 60px;
    height: 30px;
    text-decoration: none;
    border: none;  
    background-color: #E14B35;
    border-radius: 10px;
}
.button-delete a{
    color: var(--white);
}

/* Mobile Display */
@media screen and (max-width: 1200px) and (min-width: 312px) { 
    .nav-wrapper .menu-wrapper .menu{
        display: none;
    }   

    .responsive-bar{
        z-index: 2;
        display: none;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        background-color: #002334;
        width: 100%;
        height: 500px;
        border-radius: 40px 40px 0 0;
    }
    .responsive-subbar{
        padding: 10px;
        color: var(--white);
        width: fit-content;
        height: 40px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        /* background-color: var(--white); */
        transition: 0.3s;
    }
    .responsive-subbar:hover{
        background-color: #80919A;
        border-radius: 15px;
    }
    .responsive-bar .line{
        border-radius: 0.5px;
        width: 70%;
        height: 1px;
        background-color: var(--white);   
        margin-top: 0;
        margin-bottom: 0;
    }
    .responsive-bar img{
        position: fixed;
        right: 0;
        bottom: 0;
    }
        #hamburger-button{
        cursor: pointer;
        width: 30px;
        display: grid;
        grid-template-columns: auto;
        row-gap: 6px;
    }
    #hamburger-button div{
        background-color: #004567;
        width: 25px;
        height: 2.5px;
        border-radius: 10px;
    }
    #cross-button{
        cursor: pointer;
        width: 30px;
        display: none;
        /* margin: auto; */
    }
    #cross-button .satu{
        background-color: #004567;
        width: 40px;
        height: 2.5px;
        border-radius: 10px;
        transform: rotate(45deg);
    }
    #cross-button .dua{
        background-color: #004567;
        width: 40px;
        height: 2.5px;
        border-radius: 10px;
        transform: rotate(-45deg);
    }

    .nav-wrapper .menu-wrapper .menu{
        display: none;
    }

    .top-navigation{
        display: flex;                                                      
        padding-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .top-navigation .text{
        font-size: 38px;
        margin-bottom: 20px;
    }

    .table-database {
        /* width: 500px; */
        margin: 0;
        width: 90%;
        overflow-x: scroll;
        margin: auto;
    }
}